// Dark Mode Colors 
$list-bg-color-dark:#25273D;
$app-bg-color-dark:black;
$app-bg-img-dark: url(../images/bg-desktop-dark.jpg);
//Light Mode Colors 
$list-bg-color-light: white;
$app-bg-color-light:white;
$app-bg-img-light:url(../images/bg-desktop-light.jpg)